<div class="banner" style="background-image: url(/herobanner.jpg);">
  <div class="container">
    <%= simple_form_for :search, url: '/results', method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control" type="text" name="query" id="query" placeholder="Search Shops (Name, Product, Postal Code...)" />
          <button type="submit" class="btn btn-info btn-flat">
            <i class="fas fa-search "></i> Search it!
          </button>
      </div>
      <% if flash[:alert].present? %>
        <p class="alert alert-main"><%= alert %></p>
      <% end %>
    <% end %>
  </div>
</div>
