<div class="banner" style="background-image: url(/herobanner.jpg);">
  <div class="container">
    <%= simple_form_for :search, url: '/results', method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control integer required" type="text" name="postal_code" id="search_query" placeholder="Enter Your Postal Code" />
          <button name="button" type="submit" class="btn btn-primary btn-flat">
            <i class="fas fa-search "></i> Search
          </button>
      </div>
    <% end %>
  </div>
</div>
<div class="container-fluid cards-row">
  <div class="card-deck">
    <div class="d-flex align-self-stretch">
      <div class="card-how">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVz3qMe_4rHqaRsAbOLtQgKUUoVJUBHrRiGA&usqp=CAU" alt="Search fresh food logo">
          <div class="card-body">
            <h5 class="card-title">Search Fresh Produce</h5>
            <p class="card-text">Enter your postal code to find fresh food produce from grocers nearby!</p>
            <p class="card-text"><small class="text-muted">Fresh Food</small></p>
          </div>
        </div>
        <div class="card-how">
          <img class="card-img-top" src="https://www.minimeinsights.com/wp-content/uploads/2019/11/1.-Step-into-the-vibrant-aisles-of-Mercato-Gurney-Plaza-and-enjoy-the-freshest-produce-for-your-everyday-grocery-needs.-640x427.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Find Fresh Produce</h5>
            <p class="card-text">Add the fresh produce to your cart and log-in to checkout </p>
            <p class="card-text"><small class="text-muted">Fast Food</small></p>
          </div>
        </div>
        <div class="card-how">
          <img class="card-img-top" src="https://i.pinimg.com/originals/ae/07/1b/ae071b8fadd7cd3353ffb13b139959c9.jpg" alt="Fresh food delivery">
          <div class="card-body">
            <h5 class="card-title">Buy Fresh Produce</h5>
            <p class="card-text">Make secure payments with your credit card (powered by Stripe)</p>
            <p class="card-text"><small class="text-muted">Home Food</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
