.notice {
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(230, 205, 205);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}
